# Dependencias
node_modules/

# Expo
.expo/
dist/
web-build/

# Variables de entorno / secretos
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Sistema operativo
.DS_Store
Thumbs.db

# Editores
.vscode/
.idea/

# Archivos temporales
*.tmp
*.temp